@font-face {
    font-family: 'poppins-regular';
    src: url(font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'poppins-medium';
    src: url(font/Poppins/Poppins-Medium.ttf); 
}

@font-face {
    font-family: 'poppins-bold';
    src: url(font/Poppins/Poppins-ExtraBold.ttf);
}

body{
    padding: 0;
    margin: 0;
}

.main-bg{
    position: fixed;
    display: flex;
    align-items: end;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.main-bg img{
    width: 100%;
}

.container-header{
    display: flex;
    justify-content: center;
}

.logo-digital-day{
    width: 100%;
    padding-top: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 10px;
}

.logo-digital-day img{
    width: 14%;
}

.logo-digital-day h1{
    font-family: 'poppins-bold';
    font-size: 40px;
    margin-bottom: 40px;
}

@media(max-width:1300px){
    .logo-digital-day h1{
        font-size: 20px !important;
        margin-bottom: 20px;
    }

    .logo-digital-day img{
        width: 11%;
    }
}

@media(max-width:1600px){
    .logo-digital-day h1{
        font-size: 25px;
    }
}

/* Content  */

.container{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 8%;
    min-width: 100%;
}

@media(max-width:1600px){
    .container{
        margin-top: 10%;
    }
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content a{
    text-decoration: none;
    color: #000;
}

.back-button{
    position: fixed;
    display: flex;
    align-items: center;
    gap: 15px;
}

.back-icon{
    width: 25px;
}

@media(max-width:1600px){
    .back-icon{
        width: 14px;
    }
}

@media(max-width:1300px){
    .back-icon{
        width: 12px;
    }
    .back-button{
        gap: 5px;
        margin-top: -40px;
    }
}

.back-icon img{
    width: 100%;
}

.back-button p{
    font-family: 'poppins-medium';
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0;
}

@media(max-width:1600px){
    .back-button p{
        font-size: 20px;
        margin-bottom: -5px !important;
    }
}

@media(max-width:1300px){
    .back-button p{
        font-size: 17px;
        margin-bottom: -5px !important;
    }
}

/* slider */

.carousel{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 70px;
    margin-left: 45px;
}

@media(max-width:1600px){
    .carousel{
        width: 87.5%;
    }

    .carousel-item {
        height: 67vh !important;
    }
}

@media(max-width:1300px){
    .carousel{
        width: 86.8%;
        margin-top: 10px;
        margin-left: 35px;
    }

    .carousel-item {
        height: 73vh !important;
    }
}

.carousel-item {
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: center;
}

.content-main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}

.img-content{
    flex-basis: 40%;
    padding: 10px;
}

.teks-content{
    flex-basis: 70%;
    padding: 10px;
}

@media(max-width:1600px){
    .teks-content p{
        font-size: 19px !important;
    }
}

@media(max-width:1300px){
    .teks-content p{
        font-size: 16px !important;
    }
}

.teks-content p{
    font-family: 'poppins-medium';
    font-size: 26px;
    margin-top: 30px;
    text-align: justify;
}

.teks-content p span{
    font-family: 'poppins-bold';
}

.teks-content h3{
    font-family: 'poppins-bold';
    font-size: 36px;
}

@media(max-width:1600px){
    .teks-content h3{
        font-size: 26px;
    }
}

@media(max-width:1300px){
    .teks-content h3{
        font-size: 20px;
    }
}

.teks-content ul li{
    font-family: 'poppins-medium';
    font-size: 26px;
    text-align: justify;
}

@media(max-width:1300px){
    .teks-content ul li{
        font-size: 16px;
    }
}

.carousel-control-prev{
    margin-left: -35px;
    max-width: 30px;
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel-control-next{
    margin-right: -35px;
    max-width: 30px;
    background-color: rgba(0, 0, 0, 0.3);
}